html {
    background-color: rgb(92, 101, 105);
}

body {
    margin: 0 auto;
    padding: 2% 3% 4%;
    max-width: 800px;
    font-family: sans-serif;
    color: rgb(237, 243, 244);
}

header {
    text-align: center;
}

h1 {
/*    height: 163px;*/
    display: inline-block;
    max-width: 60%;
    /*    min-height: 80px; */
/*    line-height: 63px;*/
/*    vertical-align: middle;*/
/*    float: right;*/
    }

h2 {
    clear: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

h3, h4, h5, h6 {
    padding-left: 2%;
    padding-right: 2%;
}

#mainIcon {
/*    display: inline;*/
    float: left;
    width: 26%;
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    align-self: center;*/
/*    line-height: 263px;*/
/*    vertical-align: middle;*/
    min-width: 150px;
    margin-bottom: 2%;
}

a {
    color: rgb(148, 218, 248);
    text-decoration: none;
}

a:hover {
    background: #b18b8b;
}

hr {
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
    border-style: inset;
    border-width: 1px;
}

strong {
    color: rgb(253, 139, 139);
}

li {
    padding: 0.5%;
/*    background: black;*/
}

footer {
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    clear: left;
}

/* Desktop small screen take over */
@media only screen 
    and (max-width : 636px) 
    {
        #mainIcon {
            float: none;
        }
}

/* Mobile take over */
@media only screen 
    and (max-device-width : 736px) 
/*736px catches everything up to the iPhone 6 Plus*/
/*For reasons I don't understand yet, using max-width works when you shrink a browser window but not on the iPhone*/
{
    body {
        padding: inherit;
/*        background: black;*/
/*        font-size: 60px;*/
        font-size: 380%;
    }
    
    #mainIcon {
        display: block;
/*        clear:both;*/
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    h1 {
        clear: both;
        float: none;
        font-size: 120%;
        }
    
    main {
        font-size: inherit;
    }
    
    p {
        padding: inherit;
/*        font-size: inherit; */
    }
    
    ol, ul {
        margin: inherit;
        font-size: inherit;
    }
    
    footer {
        font-size: 70%;
    }
}